1. Write a Python program to calculate the area of a rectangle given its length
and width.

In [ ]:
l=int(input('Enter your length '))
b=int(input('Enter your width '))
area=l*b
print("Area =",area)

Enter your length 5
Enter your width 4
Area = 20

2. Create a program that takes two numbers from the user and calculates their
sum, difference, product, and quotient.

In [ ]:
a=int(input('Enter your 1st number '))
b=int(input('Enter your 2nd number '))
sum=a+b
diff=a-b
product=a*b
quotient=a//b
print('Sum =',sum)
print('Difference =',diff)
print('Product =',product)
print('Quotient =',quotient)

Enter your 1st number 8
Enter your 2nd number 4
Sum = 12
Difference = 4
Product = 32
Quotient = 2

3. Write a program to convert temperature from Fahrenheit to Celsius and vice
versa, based on user input.

In [ ]:
a=int(input('Enter your temperature in Fahrenheit(F) '))
c=(a-32)*(5/9)
print(a,end='')
print('° F =',end='')
print(' ',c,end='')
print('° C')
b=int(input('Enter your temprature in Celsius(C) '))
f=b*(9/5)+32
print(b,end='')
print('° C =',end='')
print(' ',f,end='')
print('° F')

Enter your temperature in Fahrenheit(F) 40
40° F =  4.444444444444445° C
Enter your temprature in Celsius(C) 40
40° C =  104.0° F

4. Implement a program that checks if a given number is positive, negative, or
zero.

In [ ]:
n=int(input('Enter your number '))
if(n>0):
  print(n,'is a Positive number')
elif(n==0):
  print('You have entered Zero')
else:
  print(n,'is a Negative number')

Enter your number 4
4 is a Positive number

**5**.  Write a Python function that determines if a year is a leap year, taking into
account leap year rules.
a. A year is a leap year if it is divisible by 4, except for years that are
divisible by 100.
b. However, years divisible by 400 are also leap years.

In [ ]:
y=int(input('Enter your year '))
n=y
if(y%4==0 and y%100!=0 or y%400==0):
  print(n,'is leap year')
else:
  print(n,'is not a leap year')

Enter your year 2016
2016 is leap year

6. Create a program that categorizes a given student's grade (A, B, C, D, or F)
based on their numerical score. Given below is grading scale
A: 90-100
B: 80-89
C: 70-79
D: 60-69
F: 0-59

In [ ]:
a=int(input('Enter your Score '))
if(a==100 or a>=90):
  print('Grade is A')
elif(a==89 or a>=80):
  print('Grade is B')
if(a==79 or a>=70):
  print('Grade is C')
elif(a==69 or a>=60):
  print('Grade is D')
else:
  print('Grade is F')

Enter your Score 75
Grade is C

7. Write a Python loop to print numbers from 10 to 1.

In [ ]:
for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

8. Write a program that prints all the even numbers from 1 to 20 using a for
loop.

In [ ]:
for n in range(1,21):
  if(n%2==0):
    print(n)

2
4
6
8
10
12
14
16
18
20

9. Write a program that generates and prints the multiplication table for a given
number. For example, if the user enters 5, the program should print the table
for 5 (5x1, 5x2, ..., 5x10).

In [ ]:
n=int(input('Enter your number '))
print('Multiplication table of',n,'is')
print(n,end='')
print('*1 = ',n*1)
print(n,end='')
print('*2 = ',n*2)
print(n,end='')
print('*3 = ',n*3)
print(n,end='')
print('*4 = ',n*4)
print(n,end='')
print('*5 = ',n*5)
print(n,end='')
print('*6 = ',n*6)
print(n,end='')
print('*7 = ',n*7)
print(n,end='')
print('*8 = ',n*8)
print(n,end='')
print('*9 = ',n*9)
print(n,end='')
print('*10 = ',n*10)

Enter your number 5
Multiplication table of 5 is
5*1 =  5
5*2 =  10
5*3 =  15
5*4 =  20
5*5 =  25
5*6 =  30
5*7 =  35
5*8 =  40
5*9 =  45
5*10 =  50